@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

.margin-top-right {
    margin-top: 75px;
    
}
.custom-control {
    position: relative;
    z-index: 1;
    display: block;
    min-height: 1.21875rem;
    padding-left: 1.5rem;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}
.custom-control-input {
    margin: 6px 5px 0px 0px;
}
.custom-control-label {
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
    margin-right: 15px;
}
:root{
    --bgcolor: linear-gradient(120deg, #074786 0%, #2a86e0 100%);
    --bghover:linear-gradient(120deg, #2a86e0 0%, #074786 100%);

    --yellow-bgcolor: linear-gradient(120deg, #ffcc00 0%, #ffff00 100%);
    --text-gradient: linear-gradient(120deg, #eee 0%, #333 100%);
}